html{
    height: 100%; 
    width: 100%; 
    overflow: hidden;
}

body{
    width: 100%; 
    height: 100%;
    padding: 0;
    margin: 0; 
    background-color: #1e1e1e;
}

/*标签上的关闭按钮*/
#tabs a{
    margin-left: 18px;
    margin-right: 0;
    cursor: default;
    font-size: 0;
    display: inline-block;
}
#tabs a:before, #tabs a:after{
    content: '';
    width: 10px;
    height: 1px;
    background: transparent;
    display: block;
}
#tabs a:before{
    transform: translateY(11px) rotate(45deg);
}
#tabs a:after{
    transform: translateY(-20px) rotate(-45deg);
}
#tabs a.curr_btn:before, #tabs a.curr_btn:after{
    background: #666;
}
#tabs a.over_btn:before, #tabs a.over_btn:after{
    background: #888;
}
#tabs a:hover:before, #tabs a:hover:after{
    background: #f00;
}


/*标签栏*/
#tabs{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 30px;
    position: relative;
    color: #aaa;
    background: #262627;    
    overflow: hidden;                           /*处理超出的内容*/
}

#tabs li{
    top: 0px;
    height: 30px;
    line-height: 30px;                          /*行距，一行文字的高度*/
    padding: 0 .6em 0 .8em;
    font-size: 14px;

    display: inline-block;
    position: relative;
    text-align: left;
    cursor: default;    
}

/*鼠标经过*/
#tabs li:hover{
    color: #ddd;
    background-color: #333;
}

/*当前选中*/
#tabs li.current{
    color: #fff;
    background-color: #1e1e1e;
}
 
/*编辑器*/
#editor{
    margin: 0;
    width: 100%; 
    height: 100%;
}
